<nav>
    <!--LOGO--------------------------------- -->
    <a href="#" class="logo">
        <img src="https://api.lorem.space/image/fashion" />
    </a>    
    <!--MENU--------------------------------- -->
    <ul class="menu">
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="/anime">ANIME</a></li>
        <li><a routerLink="/manga">MANGA</a></li>
        <li><a routerLink="novel">LIGHT NOVEL</a></li>
    </ul>
    <!--SEARCH--------------------------------- -->
    <div class="search">
        <input type="text" placeholder="ค้นหา">
        <!-- search icon -->
        <fa-icon [icon]="search" style="color:#3a3a3a"></fa-icon>
    </div>
</nav>