<app-header></app-header>
<section id="main">
    <!--SHOW--------------------------------- -->
    <!--HeaderShow-->
    <h1 class="showcase-heading">Showcase</h1>
    <carousel>
        <div class="showcase-box carousel-cell" style="width: '300'">
            <img src="https://api.lorem.space/image/movie?10">
        </div>
        <div class="showcase-box carousel-cell">
            <img src="https://api.lorem.space/image/movie?12">
        </div>
        <div class="carousel-cell showcase-box" >
            <img src="https://api.lorem.space/image/movie?19">
        </div>
        <div class="carousel-cell showcase-box">
            <img src="https://api.lorem.space/image/movie?60">
        </div>
        <div class="carousel-cell showcase-box">
            <img src="https://api.lorem.space/image/movie?61">
            
        </div>
        <div class="carousel-cell showcase-box">
            <img src="https://api.lorem.space/image/movie?63">
        </div>
        <div class="carousel-cell showcase-box">
            <img src="https://api.lorem.space/image/movie?1">
        </div>
        <div class="carousel-cell showcase-box">
            <img src="https://api.lorem.space/image/movie?3">
        </div>
        <div class="carousel-cell showcase-box">
            <img src="https://api.lorem.space/image/movie?6">
        </div>
        <div class="carousel-cell showcase-box">
            <img src="https://api.lorem.space/image/movie?2">
        </div>
    </carousel>
</section><br>
<app-footer></app-footer>