body {
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;
    /* background: linear-gradient(to right top,#fe938c,#4281a4); */
    /* background: linear-gradient(to right top,#f7f6cf,#4f80c0); */
}

